.challenge-box-container {
    height: 100%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.challenge-not-active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challenge-not-active strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.challenge-not-active p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.challenge-not-active p img {
    margin-bottom: 1rem;
}

.challenge-active {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.challenge-active header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.challenge-active main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challenge-active main section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    margin: 5px 0 20px;
}

.challenge-active main section label {
    line-height: 2;
    text-align: left;

}

.challenge-active main img {
    width: 100%;
    height: 120px;
}

.challenge-active main strong {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.challenge-active main p {
    line-height: 1.5;
    margin: 15px 0 15px;

    font-weight: bold;
}

.challenge-active footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.challenge-active footer button {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s;
}

.challenge-active footer button.challenge-failed-button {
    background: var(--red);
}
.challenge-active footer button.challenge-succeeded-button {
    background: var(--green);
}

.challenge-active footer button:hover {
    filter: brightness(0.9);
}

.challenge-box-answer-validate {
    width: 100%;
}

.challenge-box-answer-validate img {
    width: 100%;
    height: 200px;
}