.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    padding: 20px 8px;
}

.container section {
    display: flex;
    flex-direction: column;
}

