.register-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-self: center;

    /* background: var(--blue); */
}

.register-container section {
    max-width: 992px;
    height: 720px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.register-container section form {
    display: flex;
    flex-direction: column;
}

.register-container section p {
    font-size: 36px;
    font-weight: 600;

    color: var(--gray);
}

.register-container section a {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--gray);

    margin-top: 16px;
    cursor: pointer;
}

.register-container section a:hover {
    text-decoration: underline;
}
